<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body>
		<div class="container">
			<div>
				<h1>Edit Message #<%= id %></h1>
				<p><a href="/">â† Back</a></p>
			</div>

			<form
				method="post"
				action="/message/<%= message.id %>"
				class="messageForm"
			>
				<div class="formGroup">
					<label for="user"
						><strong>Name:</strong>
						<input
							type="text"
							id="user"
							name="messageUser"
							value="<%= message.username %>"
							required
					/></label>

					<label for="text" class="messageInput"
						><strong>Message:</strong>
						<textarea
							id="text"
							name="messageText"
							value="<%= message.text %>"
							required
						>
<%= message.text %></textarea
						>
					</label>
				</div>
				<div>
					<button type="submit">Save</button>
					<a href="/">Cancel</a>
				</div>
			</form>
		</div>
	</body>
</html>
